.events {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 100%;
  margin: 4rem 0;
  height: 60vh;
  
}
.eventsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100%;
  /* gap: 10px; */
  /* border: 1px solid blue; */
  background-color: #4b5659;
  
}
.column1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  /* border: 1px solid red; */
}
.column1Container {
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  /* border: 1px solid green; */
}
.eventsLineup {
  position: relative;
  width: 85%;
  height: 85%;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.eventImage {
}

.imgOverlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  right: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgba(145, 142, 142, 0.078);
}

.column2 {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  position: relative;
  margin-right: 1rem;

}
.column2Container {
  height: 95%;
  width: 100%;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-wrap: nowrap;
  overflow: scroll;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  
}
.containerStyles{
  width: 100%;
  height: 90%;
  margin: 0 auto;
  
}

/* .imageSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
} */

.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.bigImages {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.arrowRight {
  position: absolute;
  top: 50%;
  right: 5%;
  z-index: 5;
  color: white;
  cursor: pointer;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrowLeft {
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 5;
  color: white;
  cursor: pointer;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.bigImages {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
