.section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  margin-top: 1rem;
}
.container {
  width: 70vw;
  height: 100%;
}

@media (max-width: 450px) {
  .container {
    width: 95vw;
    height: 75%;
  }
}
