.container {
  height: 50vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(116, 115, 115);
  position: relative;
}
.subCont {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 2rem;
  grid-auto-flow: row;
}
.vision,
.mission {
  border: 1px solid rgb(116, 115, 115);
  padding: 2em;
  margin: 2rem;
}
.content {
  font-size: 0.8em;
}
p {
  text-align: justify;
  /* margin-top: -1rem; */
  /* padding: 2em; */
}

@media (max-width: 900px) {
  .container {
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* height: auto; */
  }
  .subCont {
    grid-template-columns: 1fr;
    gap: 0.5rem 0.5rem;
  }
  .vision,
  .mission {
    margin: 1rem;
  }
}

@media (max-width: 900px) {
}
