.about {
  display: flex;
  align-items: center;
  justify-content:center;
  margin: 2rem 0;
}

.mv
 {
  width: 75%;
  /* text-align: left; */
  display: flex;
  align-items: center;
  /* justify-content:space-evenly; */
  flex-direction: column;

}
.amvContainer, .imageContainer{
  width: 50%;
  height: 25vh;
/* border: 1px solid red; */
/* position: relative; */
margin-bottom: 1rem;


}
.amvContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imageContainer {

}
.imageContained{
  /* width: 80%; */
  
  background-size: cover;
}
.jol, .mission,.vision {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition-delay: 0.15s;
  /* border: 1px solid red; */
}

.imgHide {
  transform: translatey(500px);
  left: -500px;
  opacity: 0;

}
.imgShow {
  transform: translatey(0);
  opacity: 1;
  transition: all 1s ease-in-out;
}

.hide {
  transform: translateX(-500px);
  left: -500px;
  opacity: 0;

}
.show {
  transform: translateX(0);
  opacity: 1;
  transition: all 1s ease-in-out;
}

.content {
  color: black;
  /* margin-left: 0.5rem; */
}
h5{
  align-self: flex-start;
  margin-left: 1.6rem;
}
/* animation */


.mission {
  transition-delay: 0.3s;
}
.vision {
  transition-delay: 0.45s;
}
@keyframes animate {
  0% {
    /* transition: all 0.5s linear; */
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* animation */



@media (max-width: 390px) {
  .about {
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: auto;
  }
  .mv,
  .bible {
    width: 100%;
  }
  .mv div > div {
    margin-bottom: 0.5rem;
  }
  .content {
    font-size: 1.1em;
  }
}
