.aboutContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  height: 30vh;
}

.title {
  width: 95%;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;
}
.title h3 {
  margin-left: 1.5rem;
}
.content {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  height: 60%;

  align-items: center;
}
.content .contentContainer {
  padding: 2rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.863);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}
.contentContainer h4 {
  /* text-align: start; */
  margin-bottom: 1rem;
}
.contentContainer h5 {
  /* text-align: start; */
  font-size: 0.8em;
}

@media (max-width: 900px) {
  .aboutContainer {
    height: 23rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 80%;
  }
  .contentContainer {
    width: 90%;
    height: 25%;
  }
  .title {
    width: 90%;

    height: 10%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}
