.ministries {
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -4rem;
  margin-bottom: 4rem;
  flex-direction: column;
}
.ministryContainer {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.frames {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "ss ss ks"
    "ss ss tbs"
    "pm pm pm";
}

.pm {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: pm;
}

.gf {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.imgContainer {
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
}
@media (max-width: 390px) {
  .ministryContainer {
    height: 80%;
  }
}
@media (max-width: 768px) {
  .ministries {
    height: 35vh;
    margin-bottom: 0;
    margin-top: -2rem;
  }
}
