.ministries {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ministryContainer {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.frames {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "ss ss ks"
    "ss ss tbs"
    "pm pm pm";
}

.pm {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: pm;
}

.gf {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.imgContainer {
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
}
@media (max-width: 390px) {
  .ministries {
    margin-top: -50rem;
    border: 1px solid red;
  }
  .ministryContainer {
    height: 80%;
    border-radius: 5px;
  }
}
@media (max-width: 768px) {
  .ministries {
    height: 35vh;
    margin-bottom: 0;
    margin-top: -2rem;
  }
}
