.label {
  color: rgba(0, 0, 0, 0.9);
  text-align: left;
  width: 90%;
  font-size: 0.5em;
  margin-top: 0.3rem;
  color: white;
}

@media (max-width: 768px) {
  .label {
    font-size: 0.7em;
  }
}
