.modalContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 50;
  align-self: center;
  background-color: rgba(133, 130, 130, 0.4);

  opacity: 0;
  pointer-events: none;
  transition: all;
  transition-delay: 0.1s;
  transition-duration: 50s;
  transition-timing-function: ease-in-out;
  transform: translateX(-2000px);
}

.modalContent {
  width: 90%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.863);
}
.h1 {
}
.modalContainer.appear {
  /* h1.appear { */
  /* .modalContent.appear { */
  opacity: 1;
  pointer-events: visible;
  transform: translateX(0);
}

@media (max-width: 450px) {
  .modalContent {
    width: 90%;
    height: 60%;
  }
}
