.modalContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 50;
  align-self: center;
  background-color: rgba(133, 130, 130, 0.4);
  opacity: 0;
  transition: all 3s ease-in-out;
  pointer-events: none;
}

.modalContent {
  width: 90%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.863);
}
.modalContainer.appear {
  opacity: 1;
  pointer-events: visible;
}
@media (max-width: 450px) {
  .modalContent {
    width: 90%;
    height: 60%;
  }
}
