.modalContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 50;
  align-self: center;
  background-color: rgba(133, 130, 130, 0.4);
  animation: fadeOut 0.5s ease-in-out forwards;
}

.modalContent {
  width: 90%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.863);
  border: 1px solid red;
}
.modalContainer.appear {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.modalHeader {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.863);
  height: 3rem;
  width: 80%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modalBody {
  height: 30rem;
  width: 80%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.863);

  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid yellow;
}
.boxesContainer {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 60%;

  border: 1px solid green;

  justify-content: space-around;
  order: 1;
}

.mainBox {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.863);

  height: 65%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid salmon;
}
.imgContainer {
  position: absolute;
  width: 80%;
  height: 90%;
}
.activePhoto {
  width: 90%;
  height: 90%;
}

.smallBoxes {
  height: 5rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.863);
  height: 30%;
  border: 1px solid orange;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow-x: auto;
}
.imgContainerSm {
  width: 12rem;
  height: 6rem;
  overflow-x: auto;
}
.imgContainerSm .evntPictures {
  height: 90%;
  width: 100%;
}
.modalEventsContainer {
  width: 30%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.863);
  height: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  order: 2;
  overflow: scroll;
}

.modalEvents {
  height: 20rem;
  width: 95%;
  margin-top: 2rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
@media (max-width: 450px) {
  .modalContent {
    width: 90%;
    height: 60%;
  }
}
