.createWow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 10rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
}
.wowCreateTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 15%;
  text-align: left;
  width: 90%;
  font-size: 0.8em;
}
.createWowContent {
  height: 85%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logInContent {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90%;
}
.logInContent * {
  width: 90%;
}
.logInContent input {
  border-radius: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: inline-block;
  height: 3rem;
  background-color: transparent;
  border: 1px solid rgb(85, 83, 83);
  font-size: 0.6em;
  padding-left: 1rem;
}
.logInContent p {
  text-align: left;
  display: inline-block;
  font-size: 0.6em;
  margin-top: 0.2rem;
  transition: all 0.5s;
  font-size: 0.5em;
}
.logInContent p {
}
.logInContent button {
}
@media (max-width: 495px) {
  .logInContent {
    width: 100%;
  }
  .logInContent * {
    width: 100%;
  }
}
