.churchServices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "service"
    "committee";
  grid-gap: 1rem;
  padding: 1rem 2rem;
  height: auto;
  max-width: 100vw;
  position: relative;
}

@media (max-width: 768px) {
  .churchServices {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
