.committeeContaner {
  /* grid-area: committee; */
  padding: 2rem 2rem;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas:
    "title"
    "committee";
  row-gap: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.863);
  max-height: 100%;
  /* width: 100%; */
}
.title {
  width: 100%;
  grid-area: title;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;
}
.title h3 {
  margin-left: 1rem;
}
.iconContainer {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 1;
}
.iconContainer .rightArrow {
  position: absolute;
  top: 50%;
  right: 1rem;
  cursor: pointer;
  z-index: 5;
  user-select: none;
}
.iconContainer .leftArrow {
  position: absolute;
  top: 50%;
  left: 1rem;
  cursor: pointer;
  z-index: 5;
  user-select: none;
}
.committeeContaner .committee {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  grid-area: committee;
}

.committeeContaner .committee .subContainer {
  display: grid;
  grid-template-columns: 0.45fr 0.55fr;
  grid-template-areas:
    "pastorInfoContainer"
    "verseContainer";
  /* border: 1px solid violet; */
  width: 100%;
  opacity: 0;
  height: 100%;
  position: absolute;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.863);
}
.committeeContaner .committee .subContainer.active {
  opacity: 1;
  transition-duration: 0.5s;
}

.pastorInfoContainer {
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  grid-template-areas: "name" "photo";
  margin: 1rem 1rem;
  grid-area: "pastorInfoContainer";
  height: 100%;
}
.pastorDetails {
  grid-area: name;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8em;
  height: 100%;
}

.imgContainer {
  grid-area: photo;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 14rem;
  width: 10rem;
}

.verseContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  max-height: 100%;
  padding: 1rem;
}

.verseContainer p {
  font-size: 0.5em;
  text-align: justify;
  font-style: italic;
  line-height: 1.6;
}
.verseContainer h5 {
  width: 100%;
  text-align: end;
  font-style: italic;
  font-size: 0.7em;
}

@media (max-width: 900px) {
  .committeeContaner {
    height: 60vh;
  }
  .pastorInfoContainer {
    height: auto;
  }
  .subContainer {
    height: 30rem;
  }
  .verseDetails {
    font-size: 0.75em;
  }
}
