.committeeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 2rem;
}

.imgContainer {
  height: 5rem;
  width: 3rem;
}

.pastorInfo {
  /* display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column; */
  /* height: 85%; */
  width: 100%;
  height: 85%;
  /* 
    background: linear-gradient(
      to right,
      #9c9e9f 0%,
      #9c9e9f 40%,
      #f6f6f6 40%,
      #f6f6f6 100%
    ); */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.863);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 85%;

  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
}
.pastorInfoContainer {
  display: grid;
  grid-template-rows: 0.7fr 3.3fr;
  grid-template-areas:
    "details"
    "img";
  width: 100%;
  height: 95%;
  border: 1px solid red;
}
.pastorDetails {
  grid-area: details;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  /* margin-left: 2rem; */
  border: 1px solid red;
  padding: 2rem 2rem;
}
.pastorName {
  font-size: 0.7em;
}
.imgContainer {
  grid-area: img;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
  height: 100%;
}
img {
  width: 80%;
  height: 70%;
}

.verse {
  display: grid;
  grid-template-rows: 0.7fr 3.3fr;
  grid-template-areas:
    "h"
    "p";

  width: 100%;
  height: 95%;
  border: 1px solid green;
}

.myH6 {
  grid-area: h;
  align-self: center;
  border: 1px solid red;
  font-size: 0.7em;
}
.myP {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: p;
  max-width: 100%;
  max-height: 100%;
  padding: 2rem 2rem;
}

.verse div p {
  font-size: 0.65em;
  font-style: italic;
  line-height: 1.8;
  text-align: justify;
  font-size: 0.55em;
}
@keyframes v {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}
@keyframes x {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(40px);
  }
}
@media (max-width: 900px) {
  .services {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 100vw;
    /* align-items: center; */
    justify-content: center;
    padding: 0;
  }
  .serviceContainer {
  }
  .servicesInfo {
    height: 20rem;
  }
  .service {
    height: 5rem;
  }
  .committeeContainer {
    margin-top: -2rem;
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
  .title {
    margin-bottom: 1rem;
  }
  .pastorInfo .pastorInfoContainer .pastorDetails .pastorName {
    width: 100%;
    justify-content: flex-start;
    /* border: 1px solid red; */
  }
}
