.title {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* margin-top: 1rem; */
  border-radius: 10px;
  margin-bottom: 1rem;
  height: 4rem;
}
.title h5 {
  padding: 0 1rem;
}
@media (max-width: 768px) {
  .title {
    border-radius: 5px;
  }
}
@media (max-width: 390px) {
  .title {
    height: 3rem;
  }
}
