nav {
  height: 3rem;
  margin: 2rem 0;
  position: fixed;
  z-index: 10;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navContainer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  padding: 0 4rem;
  color: white;
  transition: all 0.5s;
}
.bgned {
  background-color: transparent;
  transition: all 0.5s;
}
.logo {
  width: 15rem;
  height: 220%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  animation: spinner 5s ease-in-out infinite;
  margin-left: -6rem;
}
.logo .navLogo {
  width: 110%;
  height: 110%;
  align-self: center;
  justify-self: center;
  margin-bottom: 1rem;
}
.hamburger {
  width: 2rem;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  cursor: pointer;
}
.hamburger.close {
  transform: rotate(180deg);
  transition: all 1s;
}
.hamburger.close span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: all 1s;
}
.hamburger.close span:nth-child(2) {
  opacity: 0;
  transition: all 1s;
}
.hamburger.close span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
  transition: all 1s;
}

span {
  width: 60%;
  border: 1px solid white;
  box-shadow: 1px 0.5px 1px #3776ff;
}
.spanned {
  width: 60%;
  border: 1px solid #3776ff;
  box-shadow: 1px 0.5px 1px white;
}
/* @keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-359deg);
  }
} */
