nav {
  height: 3rem;
  margin: 2rem 0;
  position: fixed;
  z-index: 10;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navContainer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  padding: 0 4rem;
  color: white;
  transition: all 0.5s;
}
.bgned {
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: transparent;
  transition: all 0.5s;
}
.logo {
  width: 15rem;
  height: 220%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  animation: spinner 5s ease-in-out infinite;
  margin-left: -6rem;
}
.logo .navLogo {
  width: 110%;
  height: 110%;
  align-self: center;
  justify-self: center;
  /* padding: 1rem 1rem; */
  margin-bottom: 1rem;
}
.hamburger {
  width: 2rem;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: red;
  cursor: pointer;
}
span {
  width: 60%;
  border: 1px solid white;
}
.spanned {
  width: 60%;
  border: 1px solid #3776ff;
}
/* @keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-359deg);
  }
} */
