.wow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 0;
  /* border: 1px solid red; */
  flex-direction: column;
  /* padding: 2rem 10rem; */
  font-size: 0.7em;
  width:100%
}
.wowContainer{
  width: 80%;
  /* border: 1px solid blue; */
  
}
.word {
  text-align: left;
  width: 100%;
  height: 10%;
}
.message {


  /* border: 1px solid blue; */
}


@media(max-width:390px){
  .wow {
    /* border: 1px solid blue; */
  }
  .wowContainer{
    width: 100%;
    /* border: 1px solid blue; */
    
  }
  .word{width: 100%; border: 1px solid green;}
  .message{}
}