.wow{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
  width: 100%;
  height: 30vh;
}

.wow .wowContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
.column1{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid green; */
  height: 100%;
}

.column2{
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid red;
  height: 100%;
  
}
.column2 .commentContainer{
  height: 100%;
  
}