.ourTeam {
  margin-bottom: 3rem;
  /* border: 1px solid red; */
  /* width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 390px) {
  .ourTeam {
    margin-top: 1rem;
  }
  .teamLineUp .teamMember .nickname {
    font-size: 1.2em;
  }
  .teamLineUp .teamMember .position {
    font-size: 1.2em;
  }
}
